/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2018, 6:08:44 PM
    Authors     : Soeren, Joe
*/
body { 
    font-family: Arial, Helvetica, sans-serif;
}

.twitter {
   	background-color: #F0FFFF; 
}
form {
    margin: 30px auto;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
}

.header {
    padding-top: 20px;
}

h1 {
    margin: 0;
}

.spacer {
    background-color: grey;
    height: 1px;
    width: 80%;
    margin: 10px auto;
}

.field_container {
    text-align: left;
    width: 95%;
    margin: 10px auto;
}

label {
    display: block;
    font-weight: bold;
}

span {
    font-family: Tahoma, Geneva, sans-serif;
    size: 10px;
    background: white;
}

input, select {
    width: 750px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 5px;
}

select {
    width: 760px;
}

.submit {
    background-color: #4CAF50;
    margin: 20px auto;
    line-height: 60px;
}

.submit:hover {
    background-color: #45a049;
}

.pad_top {
    padding-top: 0.25em;
}

.errorspan
{
    background-color: lightgrey;
    display: none;
    color: red
}

.notVisible{
    display: none;
    color: red;
}

#answer {
    display: none;
}

#loginBody {
    margin: auto;
    padding: auto;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
}

.loginBox {
    margin-top: 100px;
    margin-left: 100px;
   width: 400px;
    height: 520px;
    background: blue;
    color: white;
    top: auto;
    left: auto;
    box-sizing: border-box;
/*    transform: translate(-50%,-50%);*/
    padding: 70px 30px; 
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginBox input {
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
}

.loginBox input[type="text"],.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
}

.loginBox input[type="checkbox"]
{
    width: auto;
    padding: 10px;
}

#signOut {
    float: right;
    width: 100px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    padding: 0px;
}

#tweetButton {
    
    width: 100px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
textarea {
    resize: none;
}

.topProfile {
    background-color: blue;
    top: 0px;
    height: 50%;
    width: 100% !important;
    border: 0px;
}

.bottomProfile {
    background-color: white;
    bottom: 0px;
    height: 50%;
    width: 100%  !important;
    border: 0px;
}
#profileImage {
    position:relative;
    left: 30px;
    top: -30px;
    z-index: 1;
}

.userNameandTag
{
    position: relative;
    left:125px;
    top:-60px;
    z-index: 1;
}

.userTweets {
    position:relative;
    left: 0px;
    top: -50px;
    z-index: 1;
}

#profileContainer {
    padding: 0px;
    margin-right: 20px;
}

#Trending{
    margin-top: 50px;
    height: auto;
    background-color: white;
    
}
#composeTweet{
    background-color: lightblue;
    padding:20px;
}

.showTweets {
    margin-bottom: 20px;
    margin-top: 20px;
    padding:5px;
    background-color: white;
}
.whoToFollow {
    margin-bottom: 20px;
    margin-top: 20px;
    padding:5px;
    background-color: white;
}

.container-fluid
{
    padding: 40px;
}