/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2018, 6:08:44 PM
    Authors     : Soeren, Joe
*/
body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 800px;
}

form {
    margin: 30px auto;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
}

.header {
    padding-top: 20px;
}

h1 {
    margin: 0;
}

.spacer {
    background-color: grey;
    height: 1px;
    width: 80%;
    margin: 10px auto;
}

.field_container {
    text-align: left;
    width: 95%;
    margin: 10px auto;
}

label {
    display: block;
    font-weight: bold;
}

span {
    font-family: Tahoma, Geneva, sans-serif;
    size: 10px;
    background: white;
}

input, select {
    width: 750px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 5px;
}

select {
    width: 760px;
}

.submit {
    background-color: #4CAF50;
    margin: 20px auto;
    line-height: 60px;
}

.submit:hover {
    background-color: #45a049;
}

.pad_top {
    padding-top: 0.25em;
}

.errorspan
{
	Display: none;
}

.notVisible{
    Display: none;
}